@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "IRANSansWeb500";
    src: url("../../_fonts/IRANSansFaNum-Medium.eot");
    src: url("../../_fonts/IRANSansFaNum-Medium.eot?#iefix")
        format("embedded-opentype"),
      url("../../_fonts/IRANSansFaNum-Medium.woff") format("woff"),
      url("../../_fonts/IRANSansFaNum-Medium.woff2") format("woff2"),
      url("../../_fonts/IRANSansFaNum-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "IRANSansWeb400";
    src: url("../../_fonts/IRANSansFaNum-Regular.eot");
    src: url("../../_fonts/IRANSansFaNum-Regular.eot?#iefix")
        format("embedded-opentype"),
      url("../../_fonts/IRANSansFaNum-Regular.woff") format("woff"),
      url("../../_fonts/IRANSansFaNum-Regular.woff2") format("woff2"),
      url("../../_fonts/IRANSansFaNum-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "IRANSansWeb300";
    src: url("../../_fonts/IRANSansWeb(FaNum)_Light.eot");
    src: url("../../_fonts/IRANSansWeb(FaNum)_Light.eot?#iefix")
        format("embedded-opentype"),
      url("../../_fonts/IRANSansWeb(FaNum)_Light.woff") format("woff"),
      url("../../_fonts/IRANSansWeb(FaNum)_Light.woff2") format("woff2"),
      url("../../_fonts/IRANSansWeb(FaNum)_Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "IRANSansWeb700";
    src: url("../../_fonts/IRANSansWeb(FaNum)_Bold.eot");
    src: url("../../_fonts/IRANSansWeb(FaNum)_Bold.eot?#iefix")
        format("embedded-opentype"),
      url("../../_fonts/IRANSansWeb(FaNum)_Bold.woff") format("woff"),
      url("../../_fonts/IRANSansWeb(FaNum)_Bold.woff2") format("woff2"),
      url("../../_fonts/IRANSansWeb(FaNum)_Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }